<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form  th:action="@{/admin/brand_new_user}" th:object="${user}" th:method="POST">
    <input type="text" th:field="*{name}" id="name">
    <label for="name">Name</label>
    <br><br>
    <input type="text" th:field="*{lastName}" id="lastName">
    <label for="lastName">Last name</label>
    <br><br>
    <input type="text" th:field="*{post}" id="post">
    <label for="post">Post</label>
    <br><br>
    <input type="text" th:field="*{username}" id="username">
    <label for="post">Username</label>
    <br><br>
    <input type="text" th:field="*{password}" id="password">
    <label for="post">Password</label>
    <br><br>

    <input type="checkbox" name="checkBox" value="ROLE_USER">User</input><br>
    <input type="checkbox" name="checkBox" value="ROLE_ADMIN">Admin</input>
    <br><br>

    <input type="submit" value="Add User">
</form>
<p>
<form  th:action="@{/admin/give_me_them_all}">
    <button>To all users</button>
</form>
</p>
</body>
</html>